<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{Layout/_Layout :: head}">
        <title>Creaciones Mari</title>
    </head>
    <body>
        <section th:fragment="HistorialEncargos">
            <div class="container">
                <div class="row row-Card">
                    <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card card-Proyecto">
                            <div class="card-header card-header-Proyecto">
                                <h2 class="text-black font-weight-bold text-center">Historial</h2>
                            </div>
                            <div class="card-body card-body-Proyecto" style="overflow-y: auto">
                                <div class="row bubble-row p-2" th:each="e : ${encargos}">
                                    <div class="col-2" >
                                        <img th:src="${e.rutaImagen}" class="card-img-top" alt="RutImagen" />
                                    </div>
                                    <div class="col-8" >
                                        <div class="row col-12 p-1" >
                                            <h5 class="card-title" th:text="${e.nomDiseno}"></h5>
                                        </div>
                                        <div class="row col-12 p-1" >
                                            <p class="card-text" th:text="${e.desDiseno}"></p>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-4" >
                                                <p class="card-text">
                                                    <span th:switch="${e.indEstado}">
                                                        <span th:case="'N'" class="text-warning">Sin Entregar</span>
                                                        <span th:case="'S'" class="text-success">Entregado</span>
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="col-4" >
                                                <p class="card-text">
                                                    <span th:switch="${e.indPagado}">
                                                        <span th:case="'N'" class="text-warning">Pendiente de pago</span>
                                                        <span th:case="'S'" class="text-success">Pagado</span>
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="col-4" >
                                                <p class="card-text">
                                                    <span th:switch="${e.indExpress}">
                                                        <span th:case="'S'" class="text-warning">Entrega Docimicilio</span>
                                                        <span th:case="'N'" class="text-success">Retira pedido</span>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2" >
                                        <div class="row col-12 p-3" >
                                            <span th:switch="${e.indPagado}">
                                                <span th:case="'N'"><a th:href="@{/pagos/listado(codEncargo=${codEncargo})}" class="btn btn-Proyecto">Pagos</a></span>
                                                <span th:case="'S'"><button class="btn btn-Proyecto" disabled="disabled">Pagos</button></span>
                                            </span>
                                        </div>
                                        <div class="row col-12 p-3" >
                                            <a th:href="@{/historial/viewmore/}+${e.codEncargo}"
                                               class="btn btn-Secon-Proyecto">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <img th:src="@{/img/bannerH.png}" alt="BannerHorizontal" class="bannerH-img"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="SectionVermas">
            <div class="container">
                <form method="GET" 
                      th:object="${encargo}"
                      class="was-validated"                          
                      enctype="multipart/form-data">
                    <input type="hidden" name="idCategoria" th:field="*{codEncargo}"/>
                    <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                    <div class="row row-Card">
                        <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card card-Proyecto">
                                <div class="card-header card-header-Proyecto">
                                    <div class="row">
                                        <div class="col-2">
                                            <a class="text-white" th:href="@{/historial}" style="font-size: 32px;"><i class="fa-solid fa-backward"></i></a>
                                        </div>
                                        <div class="col-10">
                                            <h2 class="text-black font-weight-bold" style="padding-left: 20%">Detalles Pedido de [[*{nomDiseno}]]</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body card-body-Proyecto">
                                    <div class="row col-12 mb-3">
                                        <label for="nomDiseno">Nombre</label>
                                        <input type="text" class="form-control" 
                                               name="nomDiseno" th:field="*{nomDiseno}"
                                               readonly="readonly"/>
                                    </div>
                                    <div class="row col-12 mb-3">
                                        <label for="desDiseno">Descripción</label>
                                        <textarea class="form-control" 
                                                  name="desDiseno" th:field="*{desDiseno}"
                                                  readonly="readonly"></textarea>
                                    </div>
                                    <div class="row col-12 mb-3">
                                        <label for="tamDiseno">Tamaño</label>
                                        <span th:switch="*{tamDiseno}">
                                            <span th:case="'0'">5 a 15 cm</span>
                                            <span th:case="'1'">15 a 25</span>
                                            <span th:case="'2'">25 a 35</span>
                                            <span th:case="'3'">35+</span>
                                        </span>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6 aling-content-start">
                                            <label for="rutaImagen">Ejemplo</label>
                                            <br/>
                                            <img th:src="*{rutaImagen}" alt="RutImagen" id="rutaImagen"  height="350" width="350"/>
                                        </div>
                                        <div class="col-6 aling-content-end">
                                            <label for="googleMapsFrame">Direccion de Entrega:</label>
                                            <br/>
                                            <iframe id="googleMapsFrame"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15719.048169091202!2d-84.04027628395998!3d9.953745916310238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e46fb1e4c2dd%3A0xa8ea851c3ab1d546!2sAuto%20Mercado%20%E2%80%A2%20Goicoechea!5e0!3m2!1ses!2scr!4v1702598969863!5m2!1ses!2scr" width="400" height="300" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>        
                                                   
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6 aling-content-start">
                                            <label for="precioDiseno">Precio</label>
                                            <input type="text" class="form-control" 
                                                   name="precioDiseno" th:field="*{precioDiseno}"
                                                   readonly="readonly"/>
                                        </div>
                                        <div class="col-6 aling-content-end">
                                            <br/>
                                            <span th:switch="*{indPagado}">
                                                <span th:case="'N'"><a th:href="@{/pagos/listado(codEncargo=${codEncargo})}" class="btn btn-Proyecto">Pagos</a></span>
                                                <span th:case="'S'"><button class="btn btn-Proyecto" disabled="disabled">Pagos</button></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </section>
    </body>
</html>